<script>
export default {
  props: {
    id: {
      type: Number,
      required: true,
    },
    projectFullPath: {
      type: String,
      required: true,
    },
    path: {
      type: String,
      required: true,
    },
  },
};
</script>

<template>
  <div
    class="gl-font-base gl-font-weight-bold gl-py-7 gl-display-flex gl-align-items-center gl-justify-content-center"
  >
    根据相关法律政策，该内容无法显示。如需申诉，请点击<span
      class="gl-text-blue-500 gl-cursor-pointer js-appeal-modal"
      :data-id="id"
      :data-project-full-path="projectFullPath"
      :data-path="path"
      >此处</span
    >
  </div>
</template>
