- purchase_link = plan.purchase_link
- plan_name = plan.name
- show_deprecated_plan = ::Feature.enabled?(:hide_deprecated_billing_plans) && plan.deprecated?
- has_upgrade = has_upgrade?(plan_offer_type)
- if show_deprecated_plan
  - plan_name      += ' (Legacy)'
  - faq_link_url   = "https://#{ApplicationHelper.promo_host}/pricing/faq-new-product-subscription-tiers"
  - faq_link_start = '<a href="%{url}" target="_blank" rel="noopener noreferrer">'.html_safe % { url: faq_link_url }

.card-wrapper{ class: ("card-wrapper-has-badge" if has_upgrade), data: { testid: "plan-card-#{plan.code}" } }
  - if has_upgrade
    .card-badge
      %span.card-badge-text
        - case plan_offer_type
        - when :upgrade_for_free
          = s_("BillingPlans|Free upgrade!")
        - else
          = _("Upgrade offers available!")
  .card{ class: ("card-active" if is_current || show_deprecated_plan) }
    .card-header.gl-line-height-normal.gl-py-5.gl-font-weight-bold
      = plan_name

    .card-body
      - if show_deprecated_plan
        = s_("The %{plan_name} is no longer available to purchase. For more information about how this will impact you, check our %{faq_link_start}frequently asked questions%{faq_link_end}.").html_safe % { plan_name: plan.name, faq_link_start: faq_link_start, faq_link_end: '</a>'.html_safe }
      - else
        %ul.unstyled-list
          - plan_feature_list(plan).each do |feature|
            - feature_class = "gl-p-0!"
            - if feature.highlight
              - feature_class += " gl-font-weight-bold"
            %li{ class: "#{feature_class}" }
              = feature.title
          %li.gl-p-0.gl-pt-3
            - if plan.about_page_href
              = link_to s_("BillingPlans|See all %{plan_name} features") % { plan_name: plan.name }, EE::SUBSCRIPTIONS_COMPARISON_URL

    .card-footer
      - show_upgrade_button = show_upgrade_button?(purchase_link.action, plan_offer_type)
      .gl-min-h-7.gl-display-flex.gl-flex-wrap.gl-justify-content-end
        = render "shared/billings/billing_plan_actions", namespace: namespace, plan: plan,
                                                         purchase_link: purchase_link, show_upgrade_button: show_upgrade_button,
                                                         plan_offer_type: plan_offer_type, is_current: is_current
