<!-- Tencent RUM -->
- if front_monitor_enabled?
  -# haml-lint:disable InlineJavaScript
  %script{ :src => "#{ENV['RUM_URL']}", :type => "text/javascript" }
  = javascript_tag do
    :plain
      ;var aegis = new Aegis({
          id: '#{rum_config['id']}',
          reportApiSpeed: #{rum_config['reportApiSpeed']},
          reportAssetSpeed: #{rum_config['reportAssetSpeed']},
      });
<!-- End Tencent Code -->
